<main class="container">
  <h1 class="my-5">Catálogo de Livros</h1>
  <table class="table table-hover">
    <thead class="table-success">
    <tr>
      <th>Título</th>
      <th>Resumo</th>
      <th>Editora</th>
      <th>Autores</th>
    </tr>
    </thead>
    <tbody>
    <tr class="my-5"  *ngFor="let livro of livros">
      <td>
        <p>{{livro.titulo}}</p>
        <button class="btn btn-danger py-2" (click)="excluir(livro.codigo)">Excluir</button>
      </td>
      <td>{{livro.resumo}}</td>
      <td>{{obterNome(livro.codEditora)}}</td>
      <td>
        <ul>
          <li *ngFor="let autor of livro.autores">{{ autor }}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</main>
